@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@{
  string imageUrl = $"{getImageUrlById(myMessage.imageId)}/images/{myMessage.fileName}";
}
<img src=@imageUrl />

Welcome to your new app.

@code {
  record Message(string fileName, string imageId);
  Message myMessage = new ("image.png", "1");

  string getImageUrlById(string serverId)
  {
    if(serverId == "1")
      return "http://localhost:8081";
    return "";
  }

}


